<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="GuestTrack.Properties.Settings.Guestconstring" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=D:\Hardsoft\GuestTrack\GuestTrackDB.mdf;Integrated Security=True;Connect Timeout=30" />
        <add name="GuestTrack.Properties.Settings.GuestTrackDBConnectionString"
            connectionString="Data Source=(localdb)\mssqllocaldb;Initial Catalog=GuestTrackDB;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="GuestTrack.Properties.Settings.servernet" connectionString="server=192.168.8.179; Database=GuestDB; User ID= sa; Password=kissboy@62642;MultipleActiveResultSets=True;Connect Timeout=30" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>